---
layout: default
title: Fail Better Fragments - Productions - Fail Better Productions
menu-item: productions
submenu-item: fragments
styles:
 - /assets/colours.css
 - ../production.css
# - ./styles.css
styles-ie6: ../production-ie6.css
---
    <div class="sub-content">
     <h1 id="fragments" class="two-lines">Fail Better Fragments</h1>
     <h2>devised installation</h2>

      <div class="cast-and-crew fragments">
       <h3>Cast and Crew</h3>
       <dl class="left">
        <dt>Director</dt>
        <dd>Jonathan Heron</dd>
        <dt>Designer</dt>
        <dd>Nomi Everall</dd>
        <dt>Technician</dt>
        <dd>Dave Thwaites</dd>
       </dl>
       <dl class="right">
        <dt>Performers</dt>
        <dd>Oliver Ashforth-Smith</dd>
        <dd>Francesca Duncan</dd>
        <dd>Edward Davis</dd>
        <dd>Josh Goulding</dd>
        <dd>Zoe Lambrakis</dd>
        <dd>Kieran Lucas</dd>
       </dl>
      </div>

      <div class="production fragments">
       <h3>About the production</h3>
       <div class="images">
        <img src="./Fragments_production_1.jpg" width="160" height="124" alt="[Fail Better Fragments]" />
        <img src="./Fragments_production_2.jpg" width="160" height="129" alt="[Fail Better Fragments]" />
        <img src="./Fragments_production_7.jpg" width="160" height="175" alt="[Fail Better Fragments]" />
       </div>

       <p><em>Angels, shadows, voices, dreams, the weeping of hearts locked away and broken, these things all exist, they are real, they fly through the air of this theatre...</em></p>
       
       <p>In April 2012, we opened up our archive to an ensemble of young performers, devising a performance installation from the fragments of previous productions, creating a new piece of theatre for a ghosted museum.</p>
       
       <p><em>They are sharp at first sight . . . then smudged . . . then lost . . . then glimpsed again . . . then gone.</em></p>
       
       <p>The piece was performed continuously over one day, combining textual fragments from Gogol to Beckett, Lorca to Shakespeare, Ovid to Pinter in a dream space somewhere between performance and memory, characters drifting from one play to another and the audience free to explore.</p>
       
       <p>Some audience feedback:</p>
       
       <p><q>"<em>Almost overwhelming upon entrance as you are struck by the plethora of the history of Fail Better.</em>"</q></p>
       
       <p><q>"<em>Imaginative and enthralling.</em>"</q></p>
       
       <p><q>"<em>Thanks for 10 years and 30mins of haunted and broken beauty.</em>"</q></p>
       
       <p><q>"<em>Wonderful use of space and constantly innovative.</em>"</q></p>
       
       <p><q>"<em>Lovely cogs of a man-machine. Wonderful set!</em>"</q></p>
       
       <p><q>"<em>Uncomforting and hilarious.</em>"</q></p>
       
       <p><q>"<em>Really compelling.</em>"</q></p>
       
       <p><q>"<em>Reminds me of Beckett! Well done.</em>"</q></p>
       
       <p><a href="http://www2.warwick.ac.uk/fac/cross_fac/iatl/activities/ensemble-old/fragments" target="_blank" title="http://www2.warwick.ac.uk/.../fragments - Opens in a new window">Click here for video documentation.</a></p>
      </div>
    </div>