<div class="header-wrapper">
 <div class="header-shadow">
  <div class="header">
   <h2 class="company-logo"><span class="fail-better">Fail Better</span> <span class="productions">Productions</span></h2>
{% comment %}   <div class="supported-by">
    <a href="http://www.failbetter.co.uk/">Fail Better Productions.co.uk</a> is supported by<br />
    <a href="http://www.sitebites.co.uk/" target="_blank" title="http://www.sitebites.co.uk/ - Opens in a new window">SiteBites<br />
    <img src="{% include relative-url url='/images/sitebites.jpg' %}" width="93" height="38" title="SiteBites; fast, low-cost, bespoke website packages." alt="SiteBites" /></a>
   </div>
   <br />
{% endcomment %}  </div>
 </div>
</div>