<div class="header-wrapper">
 <div class="header-shadow">
  <div class="header">
   <h2 class="company-logo"><span class="fail-better">Fail Better</span> <span class="productions">Productions</span></h2>
<!--
   <div class="supported-by">
    <a href="http://www.failbetter.co.uk/">Fail Better Productions.co.uk</a> is supported by<br />
    <a href="http://www.sitebitez.co.uk/" target="_blank" title="http://www.sitebitez.co.uk/ - Opens in a new window">SiteBitez.co.uk<br />
    <img src="./assets/images/sitebitez.jpg" width="93" height="38" title="SiteBitez.co.uk; fast, low-cost, bespoke website packages." alt="SiteBitez.co.uk; fast low-cost, bespoke website packages." /></a>
   </div>
-->
   <br />
  </div>
 </div>
</div>