   <h2 class="menu">Menu</h2>
   <div class="menu"></div>
   <ul class="menu {{ page.menu-item }}{% if page.submenu-item %} submenu-item{% endif %}">{% 
        assign link = page.url | slice: 1,page.url.size | split: "/" %}{%
        assign link-dir = "" | split: "," %}{%
        assign test = page.url | slice: -1 %}{%
        for part in link %}
{%        assign part2 = part | prepend: "/" %}
{%        if forloop.last %}
{%          if test == "/" %}
{%            assign link-dir = link-dir | push: part2 %}
{%          else %}
{%            assign link-file = part2 %}
{%          endif %}
{%        else %}
{%          assign link-dir = link-dir | push: part2 %}
{%        endif %}
{%      endfor %}{%
        if test == "/" %}
{%        assign link-file = "/" %}
{%      endif %}{% if nil %}
<!-- layout.menu[0].text = '{{ layout.menu[0].text }}'
     site.data.menu[0].text = '{{ site.data.menu[0].text }}'
     site.github.url = '{{ site.github.url }}'
     site.baseurl = '{{ site.baseurl }}'
     page.path = '{{ page.path }}'
     page.url = '{{ page.url }}'
     page.url[0] = '{{ page.url[0] }}'
     { % assign link = page.url | slice: 1,page.url.size | split: "/" % }
     link = '{{ link }}'
     link[{{ link.size }}] = [{% if link.size > 0 %}'{{ link | join: "', '" }}'{% endif %}]
     link | join: "/" = {{ link | join: "/" }}
     link-dir[{{ link-dir.size }}] = [{% if link-dir.size > 0 %}'{{ link-dir | join: "', '" }}'{% endif %}]
     link-file = '{{ link-file }}'
-->{% endif %}{% for item in site.data.menu %}{%
    capture item-full-url %}{{ item.link.dir }}{{ item.link.file }}{% endcapture %}{%
    capture item-relative-url %}{% if link-dir == item.link.dir %}.{% else %}{% if link-dir[0] == item.link.dir[0] %}{% if link-dir[1] == item.link.dir[1] %}{% assign match = 2 %}{% else %}{% assign match = 1 %}{% endif %}{% else %}{% assign match = 0 %}{% endif %}{% if match > link-dir.size %}{% assign match = link-dir.size %}{% endif %}{% if link-dir.size == match %}.{% endif %}{% for part in link-dir offset:match %}..{% unless forloop.last %}/{% endunless %}{% endfor %}{% for part in item.link.dir offset:match %}{{part}}{% endfor %}{% endif %}{{ item.link.file }}{% endcapture %}
    <li id="menu-{{ item.id }}"{% if page.menu-item == item.id %} class="selected"{% elsif item.submenu %} class="has-submenu"{% endif %}{%if item.submenu %}>
     {% else %}>{% endif %}{% if page.menu-item == item.id and page.submenu-item == nil %}<strong>{% elsif item.id == 'company' and page.menu-item == 'company' %}<span>{% elsif item-full-url != page.url %}<a href="{% if page.keepabsoluteurls %}{{ site.baseurl }}{{ item-full-url }}{% else %}{{ item-relative-url }}{% endif %}">{% else %}<span>{% endif %}{{ item.text }}{% if page.menu-item == item.id and page.submenu-item == nil %}</strong>{% elsif item.id == 'company' and page.menu-item == 'company' %}</span>{% elsif item-full-url != page.url %}</a>{% else %}</span>{% endif %}{% if item.submenu %}
     <div>
      <ul class="sub-menu">{% for sub-item in item.submenu %}{% if sub-item.hidden != true or page.menu-item == item.id and page.submenu-item == sub-item.id %}{%
       capture sub-item-full-url %}{{ sub-item.link.dir }}{{ sub-item.link.file }}{% endcapture %}{%
       capture sub-item-relative-url %}{% if link-dir == sub-item.link.dir %}.{% else %}{% if link-dir[0] == sub-item.link.dir[0] %}{% if link-dir[1] == sub-item.link.dir[1] %}{% assign match = 2 %}{% else %}{% assign match = 1 %}{% endif %}{% else %}{% assign match = 0 %}{% endif %}{% if match > link-dir.size %}{% assign match = link-dir.size %}{% endif %}{% if link-dir.size == match %}.{% endif %}{% for part in link-dir offset:match %}..{% unless forloop.last %}/{% endunless %}{% endfor %}{% for part in sub-item.link.dir offset:match %}{{part}}{% endfor %}{% endif %}{{ sub-item.link.file }}{% endcapture %}
       <li{% if page.menu-item == item.id and page.submenu-item == sub-item.id %} class="selected"{% endif %}>{% if page.menu-item == item.id and page.submenu-item == sub-item.id %}<strong>{% endif %}{% if sub-item-full-url != page.url %}<a href="{% if page.keepabsoluteurls %}{{ site.baseurl }}{{ sub-item-full-url }}{% else %}{{ sub-item-relative-url }}{% endif %}">{% endif %}{{ sub-item.text }}{% if sub-item-full-url != page.url %}</a>{% endif %}{% if page.menu-item == item.id and page.submenu-item == sub-item.id %}</strong>{% endif %}</li>{% endif %}{% endfor %}
      </ul>
     </div>{% endif %}{% if item.submenu %}
    </li>{% else %}</li>{% endif %}{% endfor %}
   </ul>