   <h2 class="menu">Menu</h2>
   <div class="menu"></div>
   <ul class="menu {{ page.menu-item }}{% if page.submenu-item %} submenu-item{% endif %}">{% 
        assign link = page.url | slice: 1,page.url.size | split: "/" %}{%
        assign link-dir = "" | split: "," %}{%
        assign test = page.url | slice: -1 %}{%
        for part in link %}
{%        assign part2 = part | prepend: "/" %}
{%        if forloop.last %}
{%          if test == "/" %}
{%            assign link-dir = link-dir | push: part2 %}
{%          else %}
{%            assign link-file = part2 %}
{%          endif %}
{%        else %}
{%          assign link-dir = link-dir | push: part2 %}
{%        endif %}
{%      endfor %}{%
        if test == "/" %}
{%        assign link-file = "/" %}
{%      endif %}
<!-- layout.menu[0].text = '{{ layout.menu[0].text }}'
     site.data.menu[0].text = '{{ site.data.menu[0].text }}'
     site.github.url = '{{ site.github.url }}'
     site.baseurl = '{{ site.baseurl }}'
     page.path = '{{ page.path }}'
     page.url = '{{ page.url }}'
     page.url[0] = '{{ page.url[0] }}'
     { % assign link = page.url | slice: 1,page.url.size | split: "/" % }
     link = '{{ link }}'
     link[{{ link.size }}] = [{% if link.size > 0 %}'{{ link | join: "', '" }}'{% endif %}]
     link | join: "/" = {{ link | join: "/" }}
     link-dir[{{ link-dir.size }}] = [{% if link-dir.size > 0 %}'{{ link-dir | join: "', '" }}'{% endif %}]
     link-file = '{{ link-file }}'
-->{% for item in site.data.menu %}{%
        capture item-full-url %}{{ site.baseurl }}{{ item.link.dir }}{{ item.link.file }}{% endcapture %}{%
        capture item-relative-url %}{% if link-dir == item.link.dir %}.{% else %}{% if link-dir[0] == item.link.dir[0] %}{% if link-dir[1] == item.link.dir[1] %}{% assign match = 2 %}{% else %}{% assign match = 1 %}{% endif %}{% else %}{% assign match = 0 %}{% endif %}{% if match > link-dir.size %}{% assign match = link-dir.size %}{% endif %}{% if link-dir.size == match %}.{% endif %}{% for part in link-dir offset:match %}..{% unless forloop.last %}/{% endunless %}{% endfor %}{% for part in item.link.dir offset:match %}{{part}}{% endfor %}{% endif %}{{ item.link.file }}{% endcapture %}
    <li id="menu-{{ item.id }}"{% if page.menu-item == item.id %} class="selected"{% elsif item.submenu %} class="has-submenu"{% endif %}{%if item.submenu %}>
       {% else %}>{% endif %}{% if page.menu-item == item.id and page.submenu-item == nil %}<strong>{% elsif item.id == 'company' and page.menu-item == 'company' %}<span>{% elsif item-full-url != page.url %}<a href="{{ item-relative-url }}">{% else %}<span>{% endif %}{{ item.text }}{% if page.menu-item == item.id and page.submenu-item == nil %}</strong>{% elsif item.id == 'company' and page.menu-item == 'company' %}</span>{% elsif item-full-url != page.url %}</a>{% else %}</span>{% endif %}{% if item.submenu %}
       <div>
        <ul class="sub-menu">{% for sub-item in item.submenu %}{% if sub-item.hidden != true or page.menu-item == item.id and page.submenu-item == sub-item.id %}{%
          capture sub-item-full-url %}{{ site.baseurl }}{{ sub-item.link.dir }}{{ sub-item.link.file }}{% endcapture %}{%
          capture sub-item-relative-url %}{% if link-dir == sub-item.link.dir %}.{% else %}{% if link-dir[0] == sub-item.link.dir[0] %}{% if link-dir[1] == sub-item.link.dir[1] %}{% assign match = 2 %}{% else %}{% assign match = 1 %}{% endif %}{% else %}{% assign match = 0 %}{% endif %}{% if match > link-dir.size %}{% assign match = link-dir.size %}{% endif %}{% if link-dir.size == match %}.{% endif %}{% for part in link-dir offset:match %}..{% unless forloop.last %}/{% endunless %}{% endfor %}{% for part in sub-item.link.dir offset:match %}{{part}}{% endfor %}{% endif %}{{ sub-item.link.file }}{% endcapture %}
         <li{% if page.menu-item == item.id and page.submenu-item == sub-item.id %} class="selected"{% endif %}>{% if page.menu-item == item.id and page.submenu-item == sub-item.id %}<strong>{% endif %}{% if sub-item-full-url != page.url %}<a href="{{ sub-item-relative-url }}">{% endif %}{{ sub-item.text }}{% if sub-item-full-url != page.url %}</a>{% endif %}{% if page.menu-item == item.id and page.submenu-item == sub-item.id %}</strong>{% endif %}</li>{% endif %}{% endfor %}
        </ul>
       </div>{% endif %}{% if item.submenu %}
    </li>{% else %}</li>{% endif %}{% endfor %}
{% comment %}<!--
    <li id="menu-home" class="selected">
       <strong>Home</strong>
    </li>
    <li id="menu-company" class="has-submenu">
       <a href="./company/team.html">Company</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./company/team.html">Creative Team</a></li>
         <li><a href="./company/collaborators.html">Collaborators</a></li>
         <li><a href="./company/history.html">History</a></li>
         <li><a href="./company/support.html">Support</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-residency"><a href="./residency/">Residency</a></li>
    <li id="menu-productions" class="has-submenu">
       <a href="./productions/">Productions</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./productions/madman/">Diary of a Madman</a></li>
         <li><a href="./productions/discords/">Discords</a></li>
         <li><a href="./productions/stasis/">Stasis</a></li>
         <li><a href="./productions/persephone/">Persephone</a></li>
         <li><a href="./productions/lorca/">Play Without a Title</a></li>
         <li><a href="./productions/head/">Head</a></li>
         <li><a href="./productions/phaedraslove/">Phaedra's Love</a></li>
         <li><a href="./productions/echoandnarcissus/">Echo &amp; Narcissus</a></li>
         <li><a href="./productions/crave/">Crave</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-press" class="has-submenu">
       <a href="./press/">Press Room</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./press/madman/">Diary of a Madman</a></li>
         <li><a href="./press/discords/">Discords</a></li>
         <li><a href="./press/stasis/">Stasis</a></li>
         <li><a href="./press/persephone/">Persephone</a></li>
         <li><a href="./press/lorca/">Play Without a Title</a></li>
         <li><a href="./press/head/">Head</a></li>
         <li><a href="./press/phaedraslove/">Phaedra's Love</a></li>
         <li><a href="./press/echoandnarcissus/">Echo &amp; Narcissus</a></li>
         <li><a href="./press/crave/">Crave</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-contact"><a href="./contact.php">Contact us</a></li>
-->
{% endcomment %}   </ul>