   <h2 class="menu">Menu</h2>
   <div class="menu"></div>
   <ul class="menu home">
    <li id="menu-home" class="selected"><strong>Home</strong></li>
    <li id="menu-company" class="has-submenu">
       <a href="./company/team.html">Company</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./company/team.html">Creative Team</a></li>
         <li><a href="./company/collaborators.html">Collaborators</a></li>
         <li><a href="./company/history.html">History</a></li>
         <li><a href="./company/support.html">Support</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-residency"><a href="./residency/">Residency</a></li>
    <li id="menu-productions" class="has-submenu">
       <a href="./productions/">Productions</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./productions/madman/">Diary of a Madman</a></li>
         <li><a href="./productions/discords/">Discords</a></li>
         <li><a href="./productions/stasis/">Stasis</a></li>
         <li><a href="./productions/persephone/">Persephone</a></li>
         <li><a href="./productions/lorca/">Play Without a Title</a></li>
         <li><a href="./productions/head/">Head</a></li>
         <li><a href="./productions/phaedraslove/">Phaedra's Love</a></li>
         <li><a href="./productions/echoandnarcissus/">Echo &amp; Narcissus</a></li>
         <li><a href="./productions/crave/">Crave</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-press" class="has-submenu">
       <a href="./press/">Press Room</a>
       <div>
        <ul class="sub-menu">
         <li><a href="./press/madman/">Diary of a Madman</a></li>
         <li><a href="./press/discords/">Discords</a></li>
         <li><a href="./press/stasis/">Stasis</a></li>
         <li><a href="./press/persephone/">Persephone</a></li>
         <li><a href="./press/lorca/">Play Without a Title</a></li>
         <li><a href="./press/head/">Head</a></li>
         <li><a href="./press/phaedraslove/">Phaedra's Love</a></li>
         <li><a href="./press/echoandnarcissus/">Echo &amp; Narcissus</a></li>
         <li><a href="./press/crave/">Crave</a></li>
        </ul>
       </div>
    </li>
    <li id="menu-contact"><a href="./contact.php">Contact us</a></li>
   </ul>