---
layout: press
title: Fail Better Fragments - Press Archive - Fail Better Productions
menu-item: press
submenu-item: fragments
description: View details and photographs from the production.  For details about the company and our previous productions visit www.failbetter.co.uk.
popup-script: true
styles:
 - /css/colours.css
 - ../press.css
styles-ie6: ../press-ie6.css
show:
  id: fragments
  class: two-lines
  title: Fail Better Fragments
  author: devised installation
flyer: fragmentsflyer.pdf
---
      <div>
       <h4>Production Stills</h4>
       <p class="photo-credit">[photographer: peter marsh/<a href="http://www.ashmorevisuals.co.uk/" target="_blank" title="http://www.ashmorevisuals.co.uk/ - Opens in a new window">ashmorevisuals</a>]</p>
       <div class="photos">
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_1.jpg" alt="[Fragments 1]" title="Fragments 1" /> </span>
         <a href="./Fragments_preview_1.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_1.jpg', 'Fragments 1', '386', '300')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_1.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_1.jpg', 'Fragments 1', '386', '300')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_1.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_1.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"><br /></div>
        </div>
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_2.jpg" alt="[Fragments 2]" title="Fragments 2" /> </span>
         <a href="./Fragments_preview_2.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_2.jpg', 'Fragments 2', '430', '300')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_2.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_2.jpg', 'Fragments 2', '430', '300')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_2.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_2.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"><br /></div>
        </div>
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_3.jpg" alt="[Fragments 3]" title="Fragments 3" /> </span>
         <a href="./Fragments_preview_3.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_3.jpg', 'Fragments 3', '300', '463')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_3.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_3.jpg', 'Fragments 3', '300', '463')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_3.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_3.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"><br /></div>
        </div>
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_4.jpg" alt="[Fragments 4]" title="Fragments 4" /> </span>
         <a href="./Fragments_preview_4.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_4.jpg', 'Fragments 4', '352', '300')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_4.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_4.jpg', 'Fragments 4', '352', '300')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_4.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_4.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"><br /></div>
        </div>
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_5.jpg" alt="[Fragments 5]" title="Fragments 5" /> </span>
         <a href="./Fragments_preview_5.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_5.jpg', 'Fragments 5', '205', '300')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_5.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_5.jpg', 'Fragments 5', '205', '300')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_5.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_5.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"><br /></div>
        </div>
        <div class="photo">
         <span class="thumb"><img src="./Fragments_thumb_6.jpg" alt="[Fragments 6]" title="Fragments 6" /> </span>
         <a href="./Fragments_preview_6.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_6.jpg', 'Fragments 6', '300', '329')" title="preview available" class="preview-text">Prev<span class="hidden">iew</span></a>
         <a href="./Fragments_preview_6.jpg" target="_blank" onclick="return openPopImg('fragments', 'Fragments_preview_6.jpg', 'Fragments 6', '300', '329')" title="preview available" class="preview"></a>
         <a href="./Fragments_full_6.jpg" target="_blank" title="download available" class="download-text">Down<span class="hidden">load</span></a>
         <a href="./Fragments_full_6.jpg" target="_blank" title="download available" class="download"></a>
         <div class="break"></div><div class="frame"></div>
        </div>
        <div class="break"></div>
       </div>
      </div>