---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">
{% include head.html %}
<body{% if page.popup-script %} onunload="closePopImg()"{% endif %}>
<div class="wrapper">
 <div class="main-body-wrapper">
  <div class="main-body-shadow-top"></div>
  <div class="main-body-shadow-bottom"></div>
  <div class="main-body">

   <div class="content">
{{ content }}
{% if page.redirect %}    Redirecting you - please wait one moment...
{% endif %}   </div>


{% include menu.html %}

  </div>
 </div>


{% include header.html %}


{% include footer.html %}

</div>
</body>
</html>
